<a href="https://colab.research.google.com/github/adrianbell121/BME_DS_2019/blob/master/Quiz1adrianbell121.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quiz 1 adrianbell121
## JHED: abell44

In [0]:
#Imports
import pandas as pd

In [0]:
#Load data from website
! if [ ! -e kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv ] ; \
  then wget https://raw.githubusercontent.com/bcaffo/ds4bme_intro/master/data/kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv; \
fi

#Read in csv data
df = pd.read_csv("kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv")

In [8]:
#Prints out first few rows
df.head(3)

   Unnamed: 0                 rawid              roi  ...      std  type  level
0           1  kirby127a_3_1_ax.img  Telencephalon_L  ...  51.8593     1      1
1           2  kirby127a_3_1_ax.img  Telencephalon_R  ...  53.6471     1      1
2           3  kirby127a_3_1_ax.img   Diencephalon_L  ...  32.2733     1      1

[3 rows x 10 columns]